@page
@model Licenta_Kovacs_Adela.Pages.Arome.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Aroma</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Aroma.DenumireAroma" class="control-label"></label>
                <input asp-for="Aroma.DenumireAroma" class="form-control" />
                <span asp-validation-for="Aroma.DenumireAroma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aroma.AromaImg" class="control-label"></label>
                <input asp-for="Aroma.AromaImg" class="form-control" />
                <span asp-validation-for="Aroma.AromaImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
